<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>About Us</h2>
    <p>We are a group of computer science students at UTSA. Mentor Mole started out as a simple school project, but then grew to a full-fledged passion project.<br>
        Our goal is to simplify the process of learning for all students, and to help underserved communities who may not have easy access to educational resources/databases. <br>
        Reach out to us at <strong>contact&#64;mentormole.com</strong>.
    </p>
  </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Team Section ======= -->
<section id="trainers" class="trainers">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Meet the</h2>
      <p>Developers</p>
    </div>
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <!-- Mateo McKee -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../assets/img/team/mateo.jpeg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Mateo McKee</h4>
            <span>Team Leader | Full-stack Developer</span>
            <p>
              Computer Science Student at UTSA
            </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/mateo-mckee/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        
      </div>
      <!-- Moses Simmons -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../assets/img/MoleHat.png" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Moses Simmons</h4>
            <span>Front-end Developer</span>
            <p>
              Computer Science Student at UTSA
            </p>
            <div class="social">
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        
      </div>
      <!-- Nathan Crutchfield -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../assets/img/MoleHat.png" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Nathan Crutchfield</h4>
            <span>Training Developer</span>
            <p>
              Computer Science Student at UTSA
            </p>
            <div class="social">
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</section><!-- End Team Section -->
