<div class="c">
  <div class="split-container">

    <div class="left-tab">

      <div class="tab-section">
        <div class="section-header"><strong>Search Type</strong></div>
        <div class="tab-grid">
          <div class="tab-option">Video</div>
          <div class="tab-option">Web</div>
        </div>
      </div>

      <div class="section-bar"></div>

      <div class="tab-section">
        <div class="section-header"><strong>Category</strong></div>
        <div class="tab-grid">
          <div class="tab-option">Computer Sci.</div>
          <div class="tab-option">Math</div>
          <div class="tab-option">Science</div>
          <div class="tab-option">Music</div>
          <div class="tab-option">Literature</div>
          <div class="tab-option">Visual Arts</div>

        </div>
      </div>

      <div class="section-bar"></div>

      <div class="tab-section">
        <div class="section-header"><strong>Settings</strong></div>
        <div class="tab-grid">
          <div class="tab-option-switch">
            <div class="form-check form-switch course-search-switch" style="font-size: 13px;">
              <input class="form-check-input" type="checkbox" [(ngModel)]="searchService.isSpecificSearch"
                id="flexSwitchCheckDefault" style="cursor: pointer; font-size: 18px;">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>Course Search
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="right-results">

      <div class="top-rectangle">

        <app-search-bar [isHomePage]="false"></app-search-bar>

        <div class="text-content">
          <p>{{searchSummaryText}}</p>
        </div>

      </div>

      <div class="middle-rectangle">

        <div *ngIf="!searchService.isLoading" class="grid-container">
          <app-item *ngFor="let item of itemList" [data]="item"></app-item>
        </div>

        <div *ngIf="searchService.isLoading" class="status-container">
          <img src="../../assets/vid/MoleAnim.gif" alt="Mentor Mole" id="logo-img">
        </div>

      </div>

      <div class="bottom-rectangle">

        <nav aria-label="Page navigation">
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>
</div>