.split-container {
    display: flex;
    margin-top: 50px;
}

.left-tab {
    position: sticky;
    top: 50px;
    bottom: 50px;
    height: 100vh;
    width: 200px;

    margin: 10px;
    margin-right: 0px;

    display: flex;
    flex-direction: column;

    padding: 30px;

    background-color: #f0f0f0;
    overflow-y: auto;
}

.right-results {
    flex: 11;
    background-color: var(--main-light-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 10px;

    position: relative;
}

/* Rectangles */

.top-rectangle,
.middle-rectangle,
.bottom-rectangle {
    flex: 1;
    overflow: none;
}

.middle-rectangle {
    flex-grow: 22;
    width: 100%;
}

.middle-rectangle body {
    height: 100%;
    overflow-y: hidden;
}

/* Pagination */

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: var(--text-default-color)
}

/* Text */

.text-content {
    padding: 10px;
    /* Add padding for internal content */
    text-align: left;
    /* Align text to the left */
}

/* Grid */

.grid-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(293px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Status */

.status-container {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-img {
    width: 300px;
    padding: 10px;

}

/* Left Tab */
.tab-section {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.tab-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
}

/* Adjusted styles for the toggle buttons */
.tab-option {
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.section-bar {
    height: 2px;
    background-color: #ccc;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {

    .left-tab {
        display: none;
    }
}