<div class="container">
  <div class="split-container">

    <div class="left-tab" data-aos="fade-right">
      <!-- Left tab content here -->
      <app-search-bar [isHomePage]="false"></app-search-bar>

    </div>

    <div class="right-results" data-aos="fade-left">

      <div class="top-rectangle">

        <div class="text-content">
          <p>{{searchSummaryText}}</p>
        </div>

      </div>

      <div class="middle-rectangle">

        <div class="grid-container">
          
          <div class="grid-item">1</div>
          <div class="grid-item">2</div>
          <div class="grid-item">3</div>
          <div class="grid-item">4</div>
          <div class="grid-item">5</div>
          <div class="grid-item">6</div>

        </div>

      </div>

      <div class="bottom-rectangle">

        <nav aria-label="Page navigation">
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>
</div>