<div class="grid-item">
    <div class="thumbnail-container">
        <a href={{data.url}}><img src="{{data.thumbnailUrl}}" alt="Thumbnail" class="thumbnail-image"></a>
    </div>
    <div class="info-container">
        <div class="title">
            <p><strong>{{ data.title }}</strong></p>
        </div>
        <div class="small-information">
            <div class="content-information">
                <p>{{ data.viewCount }} • {{ data.date}}</p>
            </div>
            <div class="creator-information">
                <p>{{ data.publisher }} > {{ data.creator }}</p>
            </div>
        </div>
    </div>
</div>