/* Default Style */
.search-container {
    height: 57px;
    width: 85vw;
    max-width: 900px;
}

.search-container input {
    width: 100%;
    height: 100%;

    border-radius: 25px;
    border-width: 0px;

    font-size: 22px;
}

/* Specific Page Styles */
.home-page-style {
    top: 5%;
    padding-left: 30px;
    padding-right: 30px;
}

.home-page-style input {
    padding: 25px;
}

.resources-page-style {
    width: 50%;
    justify-content: left;
    padding: 10px;

}

.resources-page-style input {
    padding: 20px;
    border: 1px solid #ccc;

    font-size: 18px;
}

@media only screen and (max-width: 767px) {
    .resources-page-style {
        width: 100%;

    }
}