<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/#">Mentor<img src="../assets/img/MoleIcon.png" href="/#" alt="Mentor Mole Logo" class="img-fluid">Mole</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="resources">Resources</a></li>
        <li><a href="community">Community</a></li>
        <li><a href="about-us">About Us</a></li>

        <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href=>Sign In</a></li>
            <li><a href=>Register</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="https://www.paypal.com/donate/?hosted_button_id=7FYYU6TCTH4JE" class="get-started-btn">Donate</a>

  </div>
</header><!-- End Header -->

<router-outlet></router-outlet>

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Mentor Mole</h4>
          <p>
            1 UTSA Circle <br>
            San Antonio, TX 78249<br>
            United States <br><br>
            <strong>Email:</strong> contact&#64;mentormole.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="about-us">About Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="community">Community</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Account</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="resources">Educational Search</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="community">Community of Helpful Scholars</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Be informed of new features and changes coming to Mentor Mole that will aid you in your educational journey. We only send occasional, non-intrusive mail.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Mentor Mole</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>
</footer><!-- End Footer -->