<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="d-flex container position-relative" data-aos="zoom-in" data-aos-delay="100" id="search-bar-container">
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="../assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Welcome to Mentor Mole</h3>
          <p class="fst-italic">
            Your go-to educational search engine designed for students, by students.<br><br>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Explore a world of knowledge with our precision-driven search
              services</li>
            <li><i class="bi bi-check-circle"></i> A community of students who share ratings based on firsthand
              experience</li>
            <li><i class="bi bi-check-circle"></i> Enjoy absolute privacy, free from data sharing or intrusive
              advertisements</li>
            <li><i class="bi bi-check-circle"></i> Cost-free learning thanks to community support</li>
          </ul>
          <p>
            <br>
            Get started today! Enhance your studies with Mentor Mole.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose Us?</h3>
            <p>
              Choose us for a free, community-driven educational search engine that offers a
              wealth of resources with absolute privacy—no ads or data sharing.
              <br>
              <br>
              Our platform empowers your learning, providing a secure space where knowledge is abundant and your privacy
              is paramount.
            </p>
            <div class="text-center">
              <a href="/#" class="more-btn">Get Started <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Educational Search</h4>
                  <p>Dive in and find the courses, tutorials, or articles you're looking for!</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Scholarly Community</h4>
                  <p>Engage with our community! Help others by rating your experience with certain resources.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Responsive Team</h4>
                  <p>We're all ears!<br>
                    Reach out to us if you have ideas you want implemented.<br>
                    <br>
                    (<strong>contact&#64;mentormole.com</strong>)
                  </p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Community</h2>
        <p>Endorsements</p>
      </div>
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="../../assets/img/endorsements/ang-samuel.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Samuel Ang, Ph.D.</h4>
              <span>Assistant Professor of Instruction at UTSA, Computer Science</span>
              <p>
                Artificial intelligence,
                Deep learning,
                Human-computer interaction,
                Natural language processing,
                Procedural generation,
                Virtual reality
              </p>
              <div class="social">
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="../assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="../assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>William Anderson</h4>
              <span>Content</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->