<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">

  <!-- Mentor Mole Logo -->
  <div id="search-logo">
    <img src="../../assets/img/MoleIcon.png" alt="Mentor Mole Logo" id="logo-img">
  </div>

  <video id="vid">
    <source src="../../assets/vid/MoleAnim.mov" type="video/mov">
    Your browser does not support HTML5 video. Please update your browser.
  </video>

  <app-search-bar [isHomePage]="true"></app-search-bar>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose Us?</h3>
            <p>
              We offer a free, community-driven educational search engine that supplies a
              wealth of resources with absolute privacy—no ads or data sharing.
              <br>
              <br>
              Our platform empowers your learning, providing a secure space where knowledge is abundant and your privacy
              is paramount.
            </p>
            <div class="text-center">
              <a href="/#" class="more-btn">Get Started <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"
          data-aos-anchor-placement="top-bottom">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Educational Search</h4>
                  <p>Dive in and find the courses, tutorials, or articles you're looking for!</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Scholarly Community</h4>
                  <p>Engage with our community! Help others by rating your experience with certain resources.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Responsive Team</h4>
                  <p>We're all ears!<br>
                    Reach out to us if you have ideas you want implemented.<br>
                    <br>
                    (<strong>contact&#64;mentormole.com</strong>)
                  </p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

</main>