<!-- ======= Hero Section ======= -->
<section id="hero">

  <!-- Mentor Mole Logo -->
  <div id="logo-container">
    <img src="../../assets/vid/MoleAnim.gif" alt="Mentor Mole Logo" id="logo-img" alt="Animated Logo">
  </div>

  <app-search-bar [isHomePage]="true"></app-search-bar>

</section>

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Welcome to Mentor Mole!</h3>
        <p class="fst-italic">
          Your portal to excellent educational resources, simplifying your search for quality,
          student-acclaimed resources with just one click.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> Educational search for free members.</li>
          <li><i class="bi bi-check-circle"></i> Community of students to guide your studies.</li>
          <li><i class="bi bi-check-circle"></i> Pure privacy policy. No intrusive ads or data sharing.</li>
        </ul>
        <p>
          <br>
          Want to indulge in a new hobby? Earn that certification? Or simply study for class? Mentor Mole is here to help with
          all of that!
          <br><br>
          Start by searching for a key topic, view the tailored results, and see if other students recommend the resources! 
        </p>

      </div>
    </div>

  </div>
</section><!-- End About Section -->